@use 'src/shared-styles/_variables.scss';
@use 'src/shared-styles/_mixins.scss';

.wrapper{
  padding-top: variables.$gap-lg + variables.$gap-sm;
  padding-bottom: variables.$gap-lg + variables.$gap-sm;
  background-color: variables.$color-grey-70;

  @media screen and (max-width: variables.$breakpoint-md) {
    padding-top: variables.$gap-md;
    padding-bottom: variables.$gap-md;
  }

  h1 {
    margin-top: 0;
    padding: 0;
    width: auto;
    margin-bottom: variables.$gap-md;
    margin-left: auto;
    margin-right: auto;

    @include mixins.content;
    text-align: center;

    @media screen and (max-width: variables.$breakpoint-md) {
      font-size: variables.$text-lg;
      width: auto;
      padding: 0 variables.$gap-lg;
    }

    @media screen and (max-width: variables.$breakpoint-sm) {
      padding: 0 variables.$gap-sm;
    }
  }

  .content-wrapper {
    display: block;
    min-height: 0;
  }

  .button-link {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: variables.$breakpoint-md) {
      button {
        margin-bottom: variables.$gap-md;
      }
    }
  }

  .content {
    @include mixins.content;
    margin: auto;

    > * {
      width: 100%;
    }

    #categories {
      margin-bottom: variables.$gap-sm;
    }
  }

  .buttonWrapper{
    text-align: center;
    margin-bottom: variables.$gap-md;
  }
}