<div id="categories-showcase" class="wrapper">
  <style lang="scss">
    @use './_categoriesShowcase.scss';
  </style>
  <div class="content-wrapper">
    <h1>Special Interest Categories for Technologies and Design</h1>
    <a class="button-link" href="./library/#group=extras-openmoji"><button class="largebutton">Explore</button></a>
    <div id="categoriesAndExamples" class="content">
      <style lang="scss" global>
        @use './_categoriesAndExamples.scss';
      </style>
      <div id="categories">
        <!-- Content is dynamically added by categories-showcase.js -->
      </div>
      <div id="examples">
        <!-- Content is dynamically added by categories-showcase.js -->
      </div>
    </div>
  </div>
</div>