@use 'src/shared-styles/_variables.scss';

.emoji_grid_wrapper {
  
  max-width: variables.$content-max-width;
  margin: variables.$gap-med;
  margin-left: 300px; /* The size of the sidebar */

  @media screen and (max-width: variables.$breakpoint-md) {
    margin-left: 0;
    margin-right: 0;
  }

  .emoji_grid {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: variables.$breakpoint-md) {
      margin-right: 0;
    }
  }
}