#about-wrapper{
	height: 100%;

	h1{
		color: $clr-yellow-light;
	}
	button{
		background-color: $clr-yellow-light;
	}
	.active-tab{
		border-color: $clr-yellow-light;
	}
	#about-content{
		@extend %content;
		
		.descriptive-text{
			// padding-left: $gap-med;
			padding-bottom: $gap-large;
		}
		#team-container{
			// padding-left: $gap-med;
			display: -webkit-flex; /* Safari */
			-webkit-flex-wrap: wrap; /* Safari 6.1+ */
			display: flex;
			flex-wrap: wrap;
			margin-right: -$gap-large;

			.teammember{
				width: 150px;
				position: relative;
				margin-bottom: $gap-med;
				margin-right: $gap-large;
				p{
					color: $clr-grey-dark;
				}
				div {
					// width: 80%;
					margin: auto;
					padding-bottom: $gap-xs;
					// padding-bottom: $gap-xs;
					img{
						width: 100%;
						// background-color: #f3f3f3;
					}
				}
				ul{
						// position: absolute;
						// right: $gap-med;
					padding-top: $gap-reg;
					li{
						width: 20px;
						height: 20px;
						display: inline-block;
						padding-right: $gap-xs;
					}
				}
			}
		}
	}
}