html {
	color: $clr-grey-dark;
	font-size: $fnt-sz-md;
}

* {
    margin: 0;
    padding: 0;
}

body {
	font-family: $fnt-family;
    height: 100vh;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

h1 {
	font-size: $fnt-sz-lg;
	font-weight: $fnt-bold;
    margin-bottom: 2em;

    @media screen and (min-width: $bp-med) {
        font-size: $fnt-sz-xl;
    }
}

h2 {
	font-size: $fnt-sz-lg;
	font-weight: $fnt-bold;
    margin-bottom: $gap-reg;
}

h3 {
	font-weight: $fnt-reg;
	font-size: $fnt-sz-md;
    margin-bottom: $gap-xs;
}

h4, h5, h6 {
	font-weight:  $fnt-reg;
	font-size: $fnt-sz-md;
	color: $clr-grey-light;
    margin-top: 0;
    margin-bottom: $gap-xs;
}

p {
	color: $clr-grey-light;
}

article:not(:last-child){
    margin-bottom: $gap-large;
}

// ::-webkit-scrollbar {
//     width: 0px;  /* remove scrollbar space */
//     background: transparent;  /* optional: just make scrollbar invisible */
// }

.container{
    display: grid;
    grid-template-areas: "header header"
                         "nav content"
                         "footer footer";
    grid-template-columns: minmax(200px, 300px) auto;
    grid-template-rows: minmax(40px, $footer-header-max-height) minmax(65%, auto) auto;
    height: 100%;
}

.descriptive-text{
    color: $clr-grey-dark;
    max-width: 500px;
}

a{
    text-decoration: none;
    color: $clr-grey-light;
    transition: all 0.2s;

    &:hover {
        color: $clr-grey-dark;
    }
}

.buttonlink{
    color: white;
}

.buttonlink:hover{
    color: white;
}

.largebutton{
    margin-bottom: $gap-large;
    align-self: flex-start;
    padding: $gap-xs $gap-reg;
    font-size: $fnt-sz-md;
    border-radius: 29px;

    @media screen and (min-width: $bp-med) {
        font-size: $fnt-sz-lg;
    }
}

.redlink {
	color: $clr-red-dark;

    &:hover {
        color: $clr-red-light;
    }
}

.iconlink {
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    > img {
        display: block;
        height: 100%;
    }
}

button {
    cursor: pointer;
	padding: 0px $gap-small;
    margin: 0;
    font-size: $fnt-sz-md;
    font-family: inherit;
    color: $clr-white;
    background: $clr-red-light;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(232,232,232,0.50);
    min-height: 40px;
    border-radius: 20px;
    min-width: 80px;
    white-space: nowrap;
}

input {
    font-family: inherit;
}

.copy-to-clipboard {
	min-width: 0;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    height: auto;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid $clr-red-dark;
    color: $clr-red-dark;
    padding-bottom: 0;
}


label {
    color: $clr-grey-light;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        color: $clr-grey-dark;
    }
}

input[type='radio']{
    display: none;

    &:checked {
        + label {
            color: $clr-grey-dark;
        }
    }
}

main{
    grid-area: content;
    margin-top: $gap-reg;
    overflow-x: hidden;
    overflow-y: auto;
}

%content{
    max-width: $content-max-width;
    position: relative;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

svg{
    font-family: Times;
}

.clear{
    clear: both;
}

#impressum {
    padding-right: $gap-reg;
		p {
			margin-bottom: $gap-reg / 2;
		}
}
