html {
  color: $color-grey-dark;
  font-size: $font-sz-md;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: $font-sz-xl;
  font-weight: $font-reg;
  // font-size: $font-sz-lg;
  // font-weight: $font-bold;
  margin-bottom: 2em;

  @media screen and (min-width: $breakpoint-md) {
    font-size: $font-sz-xl;
  }
}

h2 {
  font-size: $font-sz-lg;
  font-weight: $font-bold;
  margin-bottom: $gap-reg;
}

h3 {
  font-weight: $font-reg;
  font-size: $font-sz-md;
  margin-bottom: $gap-xs;
}

h4,
h5,
h6 {
  font-weight: $font-reg;
  font-size: $font-sz-md;
  color: $color-grey-light;
  margin-top: 0;
  margin-bottom: $gap-xs;
}

:target:before {
  content: "";
  display: block;
  position: relative;
  height: $footer-header-max-height;
  /* fixed header height*/
  margin-top: -$footer-header-max-height;
  /* negative fixed header height */
}

p {
  color: $color-grey;
}

article:not(:last-child) {
  margin-bottom: $gap-large;

  @media screen and (max-width: $breakpoint-md) {
    margin-bottom: $gap-med;
  }

  @media screen and (max-width: $breakpoint-sm) {
    margin-bottom: $gap-reg;
  }
}

// ::-webkit-scrollbar {
//     width: 0px;  /* remove scrollbar space */
//     background: transparent;  /* optional: just make scrollbar invisible */
// }

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
  grid-template-columns: minmax(200px, 300px) auto;
  grid-template-rows: 80px 1fr 80px;

  // height: auto;
  @media screen and (max-width: $breakpoint-md) {
    grid-template-areas:
      "header header"
      "content content"
      "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 80px;
  }
}

.descriptive-text {
  color: $color-grey-dark;
  max-width: 500px;
}

a {
  text-decoration: none;
  color: $color-grey;
  transition: all 0.2s;

  &:hover {
    color: $color-grey-dark;
  }
}

.buttonlink {
  color: white;
}

.buttonlink:hover {
  color: white;
}

.largebutton {
  margin-bottom: $gap-large;
  align-self: flex-start;
  padding: $gap-xs $gap-reg;
  font-size: $font-sz-md;
  border-radius: 29px;

  @media screen and (min-width: $breakpoint-md) {
    font-size: $font-sz-lg;
  }
}

.redlink {
  color: $color-red-dark;

  &:hover {
    color: $color-red-light;
  }
}

.iconlink {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  > img {
    display: block;
    height: 100%;
  }
}

button {
  cursor: pointer;
  padding: 0 $gap-small;
  margin: 0;
  font-size: $font-sz-md;
  font-family: inherit;
  color: $color-white;
  background: $color-blue-dark;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(232, 232, 232, 0.5);
  min-height: 40px;
  border-radius: 20px;
  min-width: 80px;
  white-space: nowrap;
}

input {
  font-family: inherit;
}

.copy-to-clipboard {
  min-width: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  height: auto;
  background: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid $color-red-dark;
  color: $color-red-dark;
  padding-bottom: 0;
}

label {
  color: $color-grey;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: $color-grey-dark;
  }
}

input[type="radio"] {
  display: none;

  &:checked {
    + label {
      color: $color-grey-dark;
    }
  }
}

main {
  grid-area: content;
  margin-top: $gap-reg;

  @media screen and (max-width: $breakpoint-md) {
    margin-top: $gap-xs;
  }

  &.samples-wrapper {
    margin-top: 0;
  }
}

%content {
  max-width: $content-max-width;
  position: relative;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

svg {
  font-family: Times;
}

.clear {
  clear: both;
}

#impressum {
  padding-right: $gap-reg;

  p {
    margin-bottom: $gap-reg / 2;
  }
}

.data-simplebar {
  width: 100%;
}

.dropdown {
  position: relative;

  &:hover {
    .dropdown-content {
      display: block;
    }
  }

  .dropdown-content {
    position: absolute;
    right: 0;
    display: none;
    min-width: 100%;

    .list-wrapper {
      display: flex;
      margin-top: $gap-small;
      margin-left: calc(#{$gap-small} * 0.75);
      background: #ffffff;
      box-shadow: 0 1px 15px 0 rgba(163, 161, 173, 0.5);
      border-radius: 8px;
      padding: 8px 0;
      white-space: nowrap;

      ul {
        display: block;

        li {
          margin: 0;
          padding: (40px - $font-sz-md) / 2 $gap-small;
          height: auto;

          > * {
            font-size: $font-sz-md;
          }

          .disclaimer {
            font-size: $font-sz-s;
            color: $color-grey-super-light;

            a {
              color: $color-grey-super-light;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

.dropdown--light-shadow .dropdown-content ul {
  box-shadow: 0 1px 5px 0 rgba(163, 161, 173, 0.5);
}

.selector {
  $self: &;

  align-self: center;
  font-size: $font-sz-md;

  &__selected-value {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
  }

  &__list {
    ul {
      margin-top: $gap-xs;
    }

    li {
      white-space: nowrap;
      color: #525252;
      cursor: pointer;

      &:hover {
        background-color: $color-blue-light;
        color: $color-grey-ultra-light;
      }
    }
  }

  // modifiers
  &--sortable {
    #{ $self }__selected-value {
      &::before {
        content: "";
        border: solid black;
        border-width: 0 1.75px 1.75px 0;
        border-color: $color-grey-light;
        position: absolute;
        top: 5px;
        right: 1.25px;
        padding: 2.5px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }

      &::after {
        content: "";
        border: solid black;
        border-width: 0 1.75px 1.75px 0;
        border-color: $color-grey-light;
        position: absolute;
        bottom: 5px;
        right: 1.25px;
        padding: 2.5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
  &--sortable-asc {
    #{ $self }__selected-value {
      &::before {
        border-color: $color-grey-dark;
      }
    }
  }
  &--sortable-desc {
    #{ $self }__selected-value {
      &::after {
        border-color: $color-grey-dark;
      }
    }
  }
}
