#popover-wrapper{
    background: rgba(255,255,255,0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 19;
    opacity: 1;
}

.highlight{
    background: $bgclr-grey;
}

#popover {
    position: relative;
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 8vh;
    background: #FFFFFF;
    box-shadow: 0 1px 34px 0 rgba(163,161,173,0.50);
    border-radius: 8px;
    padding: 30px;
    z-index: 20;

    .sub{
        text-align: center;
        font-size: $fnt-sz-s;
    }


    #outline-emoji-preview {
        transition: all 0.3s;
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            border-radius: $border-radius;
            background: $clr-grey-light;
            opacity: 0.0;
            transition: all 0.3s;
        
        }
        &:hover:before{
            opacity: 0.1;
        }
    }
    #color-emoji-preview { 
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            border-radius: $border-radius;
            background: $clr-grey-light;
            opacity: 0.0;
            transition: all 0.3s;
        }
        &:hover:before{
            opacity: 0.1;
        }
    }

    button{
        &:not(.copy-to-clipboard) {
            padding-left: $gap-med;
            padding-right: $gap-med;
        }
    }
}

.path {
	color: $clr-grey-light;
}

#sharetitle {
    position: absolute; 
    bottom: 2 * $gap-reg;
}
#shareitems {
    position: absolute;
    bottom: $gap-reg;
}

#shareitems ul li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: $gap-reg / 2;
}

.close {
    position: absolute;
    right: 30px;
    cursor: pointer;
    top: 28px;
}

#preview {
    float: left;
    width: 70%;
    position: relative;
    height: 100%;

    #active-emoji-selection {
        position: relative;
        margin: auto;
        margin-top: $gap-large;
        width: 60%;
     
        #main-emoji-preview {
            width: 70%;
            margin: auto;
            
        }

        .small-emoji-preview {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: $gap-reg;
            
            div {
                width: 35px;
                height: 35px;
                padding: $gap-small;
                border-radius: $border-radius;
                margin: auto;
                margin: $gap-small;
                display: inline-block;
                position: relative;    
            }    
        }
        img {
            width: 100%;
            height: auto;
        }    

    }


    .next-or-prev {
        // width: 35px;
        height: 35px;
        opacity: 0.5;
        transition: all 0.3s;
        // background-color: #456;
        bottom: $gap-reg;
        position: absolute;
        img{
            width: 100%;
            height: 100%;
        }
    }


    .next-or-prev:hover{
        opacity: 1;
    }

    .prev-emoji {
        left: 0;
    }    

    .next-emoji {
        right: $gap-reg;
    }    

}

#description {
    float: right;
    width: 30%;
    border-left: 1px solid $clr-grey-light;
    height: 100%;
    box-sizing: border-box;
    padding-left: $gap-med;

    table {
        margin-bottom: $gap-med;

        td {
            height: 25px;
            padding-right: $gap-reg;
        }
    }
    h2 {
        margin-bottom: $gap-med;
        padding-top: $gap-large;
    }

    button {
        margin-right: $gap-small;
    }
}