footer {
	// max-width: 1000px;
	// margin-left: 400px;
	padding: $gap-med;
	padding-top: $gap-large;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	bottom: 0;
	p{
		display: inline-block;
	}
	ul{
		position: absolute;
		right: $gap-med;
		bottom: $gap-med;
		li{
			width: 20px;
			height: 20px;
			display: inline-block;
			padding-left: $gap-small;
		}
	}
}