footer {
	padding: 0 $gap-med 0 $gap-med;
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: space-between;

	p{
		display: inline-block;
		line-height: 33%;
	}
	ul{
		display: inline-flex;
		align-items: center;

		li{
			width: 20px;
			height: 20px;
		}
		li + li{
			margin-left: $gap-small;
		}
	}
}