footer {
	padding: 0 $gap-med 0 $gap-med;
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: $gap-xs;
	margin-bottom: $gap-xs;

	p{
		display: inline-block;
		font-size: $fnt-sz-s;
	}
	ul{
		display: inline-flex;
		align-items: center;

		li{
			width: 30px;
			height: 30px;
		}
		li + li{
			margin-left: $gap-small;
		}
	}
}
