header {
  z-index: 10;
  background-color: $color-white;
  box-sizing: border-box;
  padding: 0 $gap-med 0 $gap-med;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  top: 0;

  @media screen and (max-width: $breakpoint-sm) {
    padding: 0 $gap-small 0 $gap-small;
  }

  .project-name {
    display: none;
    color: $color-grey-dark;

    @media screen and (max-width: $breakpoint-md) {
      display: block;

      h2 {
        margin-bottom: 0;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: $breakpoint-md) {
      display: none;
    }

    ul {
      display: flex;

      li {
        height: 30px;
        margin-right: $gap-reg;
        cursor: pointer;
        list-style: none;

        @include active-tab;

        a {
          vertical-align: middle;
          display: inline-block;
        }
      }
    }

    .github-link {
      display: none;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include emoji-search;

    .emoji-search img {
      left: 2px;
      top: 10px;
      height: 50%;
    }

    @media screen and (min-width: $breakpoint-lg) {
      .emoji-search input {
        width: 210px;
      }
    }

    @media screen and (max-width: $breakpoint-md) {
      .emoji-search {
        display: none;
      }
    }

    .mobile-toggle {
      display: none;
      background: url(../img/menu.svg) no-repeat center center;
      padding: 15px;
      z-index: $z-index-menu-toggle;

      @media screen and (max-width: $breakpoint-md) {
        display: block;
      }
    }

    .action-links {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;

      @media screen and (max-width: $breakpoint-md) {
        display: none;
      }

      > * {
        margin-left: $gap-small;
      }

      .gh-link {
        height: 30px;

        img {
          height: 100%;
        }
      }

      .dropdown {
        margin-left: $gap-small;

        button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 200px;

          .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            border-color: $color-white;
            display: inline-block;
            padding: 4px;
            margin-bottom: 2px;

            &.down {
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
            }
          }

          div + div {
            margin-left: $gap-small;
          }
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    &.menu-open {
      position: static !important; // fullscreen menu

      nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $color-white;
        z-index: $z-index-menu;

        ul {
          flex-direction: column;
          align-items: center;

          li {
            height: auto;
            margin-right: 0;
            margin-bottom: $gap-small;

            &:last-child {
              margin-bottom: $gap-reg;
            }

            a {
              margin: 5px;
              font-size: $font-sz-lg;
            }
          }
        }

        .github-link {
          display: block;
          height: 40px;
          width: 40px;
        }
      }

      .mobile-toggle {
        background: url(../img/menu-close.svg) no-repeat center center;
        position: absolute;
        top: 25px;
        right: 25px;
        border: none;
      }
    }
  }
}
