header{
	z-index: 10;
	background-color: $clr-white;
	box-sizing: border-box;
	padding: 0 $gap-med 0 $gap-med;
	grid-area: header;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	@media only screen and (max-width: 768px) {
		ul{
			flex-basis: 100%;
		}
		.search{
			padding-left: 20%;
			width: 80%;
		}
	}

	> *{
		flex: 1;
	}

	ul{
		display: flex;
		li{
			height: 30px;
			margin-right: $gap-reg;
			cursor: pointer;
			list-style: none;
			a{
				vertical-align: middle;
				display: inline-block;
			}
		}
	}

	.right{
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;

		button{
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 200px;

			div + div{
				margin-left: $gap-small;
			}
		}
	}
	#gh-link{
		height: 30px;
		padding-left: $gap-reg;

		img{
			height: 100%
		}
	}

	.dropdown{
		margin-left: $gap-small;
		position: relative;

		&:hover{
			.dropdown-content{
				display: block;
			}
		}

		.dropdown-content{
			position: absolute;
			right: 0;
			display: none;
			width: 100%;

			ul{
				display: block;
				margin-top: $gap-small;
				padding: 0px $gap-small;
				background: #FFFFFF;
				box-shadow: 0 1px 34px 0 rgba(163,161,173,0.50);
				border-radius: 8px;

				li{
					margin: 0;
					padding: (40px - $fnt-sz-md) / 2 0px;
					height: auto;

					> *{
						font-size: $fnt-sz-md;
					}

					.disclaimer{
						font-size: $fnt-sz-s;
						color: $clr-grey-super-light;
					}
				}
			}
		}
	}
}

.arrow{
	border: solid black;
	border-width: 0 3px 3px 0;
	border-color: $clr-white;
	display: inline-block;
	padding: 4px;
	margin-bottom: 2px;

	&.down{
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
}

.active-tab{
	// padding-bottom: -20px;
	border-bottom: 4px solid $clr-red-light;
	a{
		color: $clr-grey-dark;
	}
}

.emoji-search{
	justify-content: center;
	display: flex;
	height: 40px;
	position: relative;

		img {
			left: 0px;
			top: 8px;
			position: absolute;
			height: 60%;
			width: auto;
			padding-right: $gap-small;
			opacity: 0.4;
		}

		input{
			background: none; //url(../img/search.svg) left no-repeat;
			padding-left: 33px;
			border-radius: 20px;
			border: solid 1px $clr-grey-light;
			font-size: $fnt-sz-md;
			color: $clr-grey-dark;
			transition: all 0.4s;
			width: 100%;
			// background: none;

			&:focus{
				outline: none;
				color: $clr-grey-dark;
			}

			&:focus + img {
				opacity: 1;
			}
		}
}
