#home-wrapper{
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	h1{
		color: $clr-blue-light;
	}
	button{
		background-color: $clr-blue-light;
	}
	.active-tab{
		border-color: $clr-blue-light;
	}
	#landing{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		.content{
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			> *{
				width: 80%;
				max-width: $content-max-width * 0.75;
			}

			h1 {
				font-size: $fnt-sz-xxl;
				margin-bottom: $gap-small;
			}

			h2{
				margin-bottom: 35px;
			}

			.emoji{
				position: absolute;
				width: 50px;
				margin-left: -25px;
				margin-top: -25px;
			}

			.emoji-search{
				max-width: 450px;
				height: 60px;

				img {
					left: 0px;
					top: 12px;
					position: absolute;
					height: 60%;
					width: auto;
					padding-right: $gap-small;
					opacity: 0.4;
				}

				input{
					font-size: 23px;
					background-color: $bgclr-grey;
					padding-left: 55px;
					border: none;
				}
			}
		}
	}
	header{
		height: $footer-header-max-height;
		position: sticky;
		top: 0;
	}
	.content-wrapper{
		@extend %content;

		min-height: calc(100vh - #{$footer-header-max-height});
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin: auto;
		padding-left: $gap-med;
		padding-right: $gap-med;
	}

	#small-overview{
		background-color: $clr-grey-ultra-light;

		.content{
			display: flex;
			// justify-content: space-between;
			flex-wrap: wrap;
			margin-right: -$gap-med;
			padding: $gap-large + $gap-small 0px;

			.content-item{
				flex-grow: 1;
				width: 33%;
				margin-right: $gap-med;
				margin-bottom: $gap-large;
				display: flex;
				max-width: 250px;
				min-width: 150px;
				box-sizing: border-box;

				img{
					height: 40px;
					margin-right: $gap-xs;
				}

				.description{
					h3{
						margin-bottom: $gap-small;
						color: $clr-blue-light;
					}
					display: flex;
					flex-direction: column;
				}
			}
		}
	}

	#big-overview{
		background-color: $clr-blue-light;
		display: flex;
		padding-top: ($gap-large + $gap-small) * 2;
		box-sizing: border-box;
		overflow: hidden;

		.col{
			width: 50%;

			&.left{
				justify-content: flex-end;

				>.section{
					justify-content: flex-end;
				}
			}
			&.right{
				justify-content: flex-start;

				>.section{
					justify-content: flex-start;
				}
			}
		}

		.section{
			height: calc(100vh - #{$footer-header-max-height});
			display: flex;

			img{
				height: 100%;
				width: 500px;
				min-width: 250px;
				margin-right: $gap-large;
			}

			.description{
				align-self: center;
				display: grid;
				grid-template-columns: repeat(2, auto);

				h1{
					color: $clr-white;
					margin: 0;
				}
				p{
					color: $clr-white;
					padding-top: $gap-small;
				}
			}
		}
	}

	#categories-showcase{
		padding-top: $gap-large + $gap-small;
		padding-bottom: $gap-large + $gap-small;
		background-color: $clr-grey-ultra-light;

		h1{
			margin-bottom: $gap-reg;
		}

		.content-wrapper{
			display: block;
			min-height: 0;
		}

		.content{
			@extend %content;

			> *{
				width: 100%;
			}

			#categories{
				margin-bottom: $gap-small;

				.row{
					justify-content: space-around;
				}

				a{
					&.active-tab{
						color: #000000;
						> *{
							margin-bottom: $gap-xs - 4px;
						}
					}
					> *{
						margin-bottom: $gap-xs;
					}
				}
			}

			.row{
				display: inline-flex;
				flex-wrap: wrap;
				width: 100%;
				justify-content: center;

				.categories-item{
					max-height: 250px;
					min-width: 150px;
					box-sizing: border-box;
					display: flex;
					justify-content: center;
					align-items: flex-start;

					img{
						height: 100%;
					}
				}
			}
		}
	}

	#footer-wrapper{
		background-color: $clr-blue-light;

		.content-wrapper{
			min-height: 0;
		}

		#interest{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-top: $gap-med;
			margin-bottom: $gap-med;

			h1{
				color: $clr-white;
				margin-bottom: $gap-reg;
			}

			.buttongroup{
				display: inline-flex;
				flex-wrap: wrap;
				justify-content: space-around;
				width: 50%;
				align-items: center;

				h1{
					color: $clr-white;
					margin-bottom: $gap-reg;
				}
				
				button{
					background-color: $clr-blue-super-light;
					color: $clr-white;
					box-shadow: none;
				}
			}
		}

		footer{
			p{
				color: $clr-white;
			}

			a{
				color: $clr-white;
			}
		}
	}
}
