#library-wrapper {
  height: 100%;

  h1 {
    color: $color-red-light;
  }

  .active-tab {
    border-color: $color-red-light;
  }

  button {
    background-color: $color-red-light;
  }

  .nav-left {
    #show-color {
      margin-bottom: $gap-reg;
    }

    @media screen and (max-width: $breakpoint-md) {
      display: none;

      &.mobile-show {
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: $z-index-overlay-all;

        > ul {
          overflow-y: auto;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }

          li {
            font-size: 22px;
          }
        }
      }
    }
  }

  .category-toggle:hover #nav-left {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }

  main {
    @media screen and (max-width: $breakpoint-md) {
      margin-top: 0;
      width: 100%;
    }
  }
}

#library-content {
  height: 100%;

  @media screen and (max-width: $breakpoint-md) {
    height: auto;
    overflow: initial;
  }

  .emoji_grid_header {
    width: 100%;
    max-width: $content-max-width;
    padding: $gap-reg 0;
    position: sticky;
    top: 80px;
    background-color: $color-white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: $breakpoint-md) {
      padding: 0 $gap-med $gap-small $gap-med;

      margin-top: -$gap-xs;
      > * {
        margin-bottom: $gap-xs;
      }
    }

    @media screen and (max-width: $breakpoint-sm) {
      padding: 0 $gap-small $gap-small $gap-small;
    }

    #selected-category {
      display: none;

      @media screen and (max-width: $breakpoint-md) {
        display: block;
      }
    }

    .category-toggle {
      display: none;
      background: url(../img/menu.svg) no-repeat center center;
      width: 20px;
      height: 20px;
      z-index: $z-index-overlay-all;
      margin-left: 10px;
      margin-right: 20px;

      &:hover {
        cursor: pointer;
      }

      @media screen and (max-width: $breakpoint-md) {
        display: block;
      }
    }

    h2 {
      margin-bottom: 0;
      flex-grow: 1;

      @media screen and (max-width: $breakpoint-md) {
        flex-grow: unset;
        font-size: 18px;
      }
    }

    &__selectors {
      display: flex;
      align-items: center;

      #show-color {
        white-space: nowrap;
      }

      > * + * {
        margin-left: 20px;
      }
    }
  }
}

.emoji_grid_wrapper {
  max-width: $content-max-width;
  overflow-x: hidden;

  @media screen and (max-width: $breakpoint-md) {
    overflow-x: unset;
  }

  .emoji_grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gap-large;

    @media screen and (max-width: $breakpoint-md) {
      margin-right: 0;
    }

    .emoji_single {
      margin-right: $gap-large;
      margin-bottom: $gap-med;
      min-width: 150px;
      max-width: 150px;
      transition: all 0.3;

      @media screen and (max-width: $breakpoint-md) {
        min-width: unset;
        max-width: unset;
        margin-right: 0;
        width: 33.33%;
      }

      @media screen and (max-width: $breakpoint-sm) {
        min-width: unset;
        max-width: unset;
        margin-right: 0;
        width: 50%;
      }

      h3 {
        transition: all 0.3;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        margin-bottom: 2px;
      }

      p {
        font-size: $font-sz-s;
        text-align: center;
      }

      .emoji-container {
        width: 80%;
        margin: auto;
        margin-bottom: $gap-xs;

        img {
          width: 100%;
          height: auto;
        }

        & + div {
          width: 80%;
          margin: auto;
        }
      }

      &:hover h3 {
        color: $color-red-light;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 17px;
  margin-left: $gap-xs;
  vertical-align: middle;

  input {
    display: none;

    &:checked + .slider {
      background-color: $color-red-light;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $color-red-light;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-grey-light;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;

  &:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
}
