// emoji search
@mixin emoji-search {
  .emoji-search {
    justify-content: center;
    display: flex;
    height: 40px;
    position: relative;

    img {
      left: 0px;
      top: 8px;
      position: absolute;
      height: 60%;
      width: auto;
      padding-right: $gap-small;
      opacity: 0.4;
    }

    input {
      background: none;
      padding-left: 33px;
      border-radius: 20px;
      border: solid 1px $color-grey-light;
      font-size: $font-sz-md;
      color: $color-grey-dark;
      transition: all 0.4s;
      width: 100%;

      &:focus {
        outline: none;
        color: $color-grey-dark;
      }

      &:focus+img {
        opacity: 1;
      }
    }
  }
}