.nav-left {
  grid-area: nav;
  box-sizing: border-box;
  max-width: 300px;

  @media screen and (max-width: $breakpoint-md) {
    max-width: 100%;
    padding: 0 $gap-small 0 $gap-small;
    margin: 0;
    overflow: initial;
    display: none;
  }

  >ul {
    margin: $gap-reg $gap-med;
    position: sticky;
    top: 80px;

    @media screen and (max-width: $breakpoint-md) {
      margin: $gap-reg $gap-reg;
    }
  }

  ul li {
    display: block;
    margin-top: $gap-xs;
  }

  .submenu {
    padding-left: $gap-reg;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .category-close {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: url(../img/menu-close.svg) no-repeat center center;
    width: 20px;
    height: 20px;
    z-index: $z-index-overlay-all;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: $breakpoint-md) {
      display: block;
    }
  }
}
