header{
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: $clr-white;
    box-sizing: border-box;
    padding: $gap-med;
    padding-bottom: 40px;
 	display: flex;
	
	ul{
		flex: 1;
		display: flex;
		li{
			height: 30px;
			margin-right: $gap-reg;
			cursor: pointer;
			list-style: none;
			a{
				vertical-align: middle;
			    display: inline-block;	
			}
		    
		}	
	}

	.right{
		flex: 1;
	}
	#gh-link{
		height: 20px;
		margin-top: 10px;
		float: right;
		img{
			height: 100%
		}
	}
	button{
		float: right;
		margin-left: $gap-reg;
		padding: 0px 20px;
	}
	#emojisuche{
		flex: 1;
		justify-content: center;
		display: flex;
		height: 40px;

			img{
				height: 100%;
				width: auto;
				padding-right: $gap-small;
				opacity: 0.4;

			}
		
			input{
				background: url(../img/search.svg) left no-repeat;
				padding: 14px;
   				padding-left: 37px;
				border-radius: 20px;
				border: solid 1px $clr-grey-light;
		   		font-size: $fnt-sz-md;
		   		color: $clr-grey-light;
		   		transition: all 0.4s;
		   		width: 100%;
		   		// background: none;
		    
		    	&:focus{
		    		outline: none;
		   			color: $clr-grey-dark;
		    	}

		    	&:focus + img {
		    		opacity: 1;
		    	}
			}
	}
	
	.active-tab{
		// padding-bottom: -20px;
		border-bottom: 4px solid $clr-red-light;
		a{
			color: $clr-grey-dark;
		}
	}
}