.nav-left {
  grid-area: nav;
  box-sizing: border-box;
  max-width: 300px;

  @media screen and (max-width: $breakpoint-md){
    max-width: 100%;
    padding: 0 $gap-med 0 $gap-med;
    margin: 0;
    overflow: initial;
    display: none;
  }

  > ul {
    margin: $gap-reg $gap-med;
    position: sticky;
    top: 80px;
  }

  ul li {
    display: block;
    margin-top: $gap-xs;
  }

  .submenu {
    padding-left: $gap-reg;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}
