#samples-wrapper {
  height: 100%;

  .container {
    grid-template-areas: "header header""content content""footer footer";
  }

  #samples-content {
    @extend %content;
  }

  .sample {
    width: 100%;
  }

  video {
    border: 1px solid $color-grey-super-light;
  }

  .caption {
    margin: 1em $gap-med;
    height: 6em;

    @media screen and (max-width: $breakpoint-md) {
      height: auto;
      min-height: 3em;
    }

    @media screen and (max-width: $breakpoint-sm) {
      margin-left: $gap-small;
      margin-right: $gap-small;
    }
  }
}
