#samples-wrapper {
  height: 100%;

  .container {
    grid-template-areas: "header header""content content""footer footer";
  }

  #samples-content {
    @extend %content;
  }

  .sample {
    width: 100%;
  }

  .caption {
    margin: 1em 2em;
    height: 6em;
  }
}
