#samples-wrapper {
	height: 100%;

	.container {
		grid-template-areas: "header header""content content""footer footer";
	}

	#samples-content {
		@extend %content;
	}

	.sample {
		width: 100%;
	}

	.caption {
		margin-top: 1em;
		margin-left: 2em;
		height: 14em;
	}
}