#styleguide-wrapper {
  height: 100%;

  h1 {
    color: $color-orange-dark;
  }

  button {
    background-color: $color-orange-dark;
  }

  .active-tab {
    border-color: $color-orange-dark;
  }

  .intro {
    max-width: 600px;
    margin-bottom: $gap-med;
  }

  .img-full {
    width: 100%;
  }

  .two-rows {
    margin-bottom: $gap-med;

    p,
    h3 {
      float: left;
      width: 25%;
      max-width: 240px;

    }

    .img-small {
      width: 20%;
      float: left;
      margin-left: 5%;
    }

    .img-big {
      width: 70%;
      float: left;
      margin-left: 5%;
    }
  }

  .border {
    padding: $gap-reg;
    border: solid 1px $background-color-grey;
    border-radius: 5px;
    box-sizing: border-box;
  }
}

#styleguide-content {
  @extend %content;

  img {
    width: 100%;
  }

  h1 {
    margin-bottom: $gap-reg;
  }

  h2 {
    margin-bottom: $gap-reg;
  }

  .download-styleguide-asset button {
    margin-bottom: $gap-reg * 2;
  }
}
