#styleguide-wrapper{
	height: 100%;

	h1{
		color: $clr-orange-dark;
	}
	button{
		background-color: $clr-orange-dark;
	}
	.active-tab{
		border-color: $clr-orange-dark;
	}
	.intro{
		max-width: 600px;
		margin-bottom: $gap-med;
	}
	.img-full{
		width: 100%;
	}
	.two-rows{
		margin-bottom: $gap-med;

		p, h3{
			float: left;
			width: 25%;
			max-width: 240px;

		}
		.img-small{
			width: 20%;
			float: left;
			margin-left: 5%;
		}

		.img-big{
			width: 70%;
			float: left;
			margin-left: 5%;
		}
	}
	.border{
		padding: $gap-reg; 
		border: solid 1px $bgclr-grey; 
		border-radius: 5px;
		box-sizing: border-box;
	}
}

#styleguide-content{
	@extend %content;

	img{
		width: 100%;
	}
	
	h1{
		margin-bottom: $gap-reg;
	}

	h2{
		margin-bottom: $gap-reg;
	}
}