#styleguide-wrapper {
  height: 100%;

  h1 {
    color: $color-orange-dark;
  }

  button {
    background-color: $color-orange-dark;
  }

  .active-tab {
    border-color: $color-orange-dark;
  }

  .intro {
    max-width: 600px;
    margin-bottom: $gap-med;
    @media screen and (max-width: $breakpoint-md){
      max-width: 100%;
    }
  }

  .img-full {
    width: 100%;
  }

  .two-rows {
    margin-bottom: $gap-med;

    @media screen and (max-width: $breakpoint-md) {
      display: flex;
      flex-direction: row;
      margin-bottom: $gap-reg;
    }

    @media screen and (max-width: $breakpoint-sm) {
      flex-direction: column;
    }

    p,
    h3 {
      float: left;
      width: 25%;
      max-width: 240px;

      @media screen and (max-width: $breakpoint-md) {
        width: 100%;
        float: none;
        max-width: 100%;
        order: 2;
      }

      @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
      }

    }

    .img-small {
      width: 20%;
      float: left;
      margin-left: 5%;

      @media screen and (max-width: $breakpoint-md) {
        margin-right: 5%;
        margin-left: 0;
        width: 20%;
        float: none;
        max-width: 100%;
        order: 1;
      }

      @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
        margin-bottom: $gap-reg;
        margin-right: 0;
        margin-left: 0;
      }
    }

    .img-big {
      width: 70%;
      float: left;
      margin-left: 5%;

      @media screen and (max-width: $breakpoint-md) {
        margin-right: 5%;
        margin-left: 0;
        width: 70%;
        float: none;
        max-width: 100%;
        order: 1;
      }

      @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
        margin-bottom: $gap-reg;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  .border {
    padding: $gap-reg;
    border: solid 1px $background-color-grey;
    border-radius: 5px;
    box-sizing: border-box;
  }
}

#styleguide-content {
  @extend %content;

  @media screen and (max-width: $breakpoint-md) {
    padding: 0 $gap-med 0 $gap-med;
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 0 $gap-small 0 $gap-small;
  }

  img {
    width: 100%;
  }

  h1 {
    margin-bottom: $gap-reg;

    @media screen and (max-width: $breakpoint-md) {
      font-size: 30px;
    }
  }

  h2 {
    margin-bottom: $gap-reg;

    @media screen and (max-width: $breakpoint-md) {
      font-size: 26px;
    }
  }

  .download-styleguide-asset {
    &.button {
      button {
        margin-bottom: $gap-med;
      }
      
    }
    button {
      margin-bottom: $gap-reg * 2;
      margin-right: $gap-small;

      @media screen and (max-width: $breakpoint-md) {
        margin-bottom: $gap-small;
      }
    }
  }
}
