@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400, 700"); }

html {
  color: #242424;
  font-size: 17px; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Source Sans Pro", sans-serif; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

h1 {
  font-size: 47px;
  font-weight: 700;
  margin-bottom: 100px; }

h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px; }

h3 {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 10px; }

h4, h5, h6 {
  font-weight: 500;
  font-size: 17px;
  color: #818080;
  margin-top: 0;
  margin-bottom: 10px; }

p {
  color: #818080; }

article {
  padding-bottom: 100px; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

.descriptive-text {
  color: #242424;
  max-width: 500px; }

a {
  text-decoration: none;
  color: #818080;
  transition: all 0.2s; }
  a:hover {
    color: #242424; }

.buttonlink {
  color: white; }

.buttonlink:hover {
  color: white; }

.redlink {
  color: #D22F29; }
  .redlink:hover {
    color: #E95A47; }

.iconlink {
  opacity: 0.5; }
  .iconlink:hover {
    opacity: 1; }

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 17px;
  color: #fff;
  background: #E95A47;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(232, 232, 232, 0.5);
  height: 40px;
  border-radius: 20px;
  min-width: 80px; }

.copy-to-clipboard {
  min-width: 0;
  margin-right: 0px;
  margin-top: 0px;
  height: auto;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 1px solid #D22F29;
  color: #D22F29;
  padding-bottom: 0; }

label {
  color: #818080;
  cursor: pointer;
  transition: all 0.2s; }
  label:hover {
    color: #242424; }

input[type='radio'] {
  display: none; }
  input[type='radio']:checked + label {
    color: #242424; }

main {
  padding-top: 200px; }

.hidden {
  display: none; }

.visible {
  display: block; }

.clear {
  clear: both; }

#popover-wrapper {
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 19;
  opacity: 1; }

.highlight {
  background: #F2F1F0; }

#popover {
  position: relative;
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 8vh;
  background: #FFFFFF;
  box-shadow: 0 1px 34px 0 rgba(163, 161, 173, 0.5);
  border-radius: 8px;
  padding: 25px;
  z-index: 20; }
  #popover .sub {
    text-align: center;
    font-size: 14px; }
  #popover #outline-emoji-preview {
    transition: all 0.3s; }
    #popover #outline-emoji-preview:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      border-radius: 8px;
      background: #818080;
      opacity: 0.0;
      transition: all 0.3s; }
    #popover #outline-emoji-preview:hover:before {
      opacity: 0.1; }
  #popover #color-emoji-preview:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #818080;
    opacity: 0.0;
    transition: all 0.3s; }
  #popover #color-emoji-preview:hover:before {
    opacity: 0.1; }

.path {
  color: #818080; }

#sharetitle {
  position: absolute;
  bottom: 50px; }

#shareitems {
  position: absolute;
  bottom: 0;
  right: 0; }

#shareitems ul li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12.5px; }

.close {
  position: absolute;
  right: 30px;
  cursor: pointer;
  top: 28px;
  z-index: 21; }

#preview {
  float: left;
  width: 70%;
  position: relative;
  height: 100%; }
  #preview #active-emoji-selection {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%; }
    #preview #active-emoji-selection #main-emoji-preview {
      height: 90%;
      margin: auto;
      margin-bottom: 10%; }
      #preview #active-emoji-selection #main-emoji-preview img {
        height: 100%;
        width: 100%;
        margin: auto; }
    #preview #active-emoji-selection .small-emoji-preview {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      bottom: 0; }
      #preview #active-emoji-selection .small-emoji-preview div {
        width: 35px;
        height: 35px;
        padding: 10px;
        border-radius: 8px;
        margin: auto;
        margin: 10px;
        display: inline-block;
        position: relative; }
    #preview #active-emoji-selection img {
      width: 100%;
      height: auto; }
  #preview .next-or-prev {
    height: 35px;
    opacity: 0.5;
    transition: all 0.3s;
    bottom: 25px;
    position: absolute; }
    #preview .next-or-prev img {
      width: 50%;
      display: inline-block;
      height: 100%; }
  #preview .next-or-prev:hover {
    opacity: 1; }
  #preview .prev-emoji {
    left: 0; }
  #preview .next-emoji {
    right: 25px; }

#description {
  float: right;
  width: 30%;
  border-left: 1px solid rgba(129, 128, 128, 0.5);
  height: 100%;
  box-sizing: border-box;
  padding-left: 50px;
  position: relative; }
  #description table {
    margin-bottom: 50px; }
    #description table td {
      height: 25px;
      padding-right: 25px; }
  #description h2 {
    margin-bottom: 50px;
    padding-top: 40vh;
    max-width: 400px; }
  #description #buttoncontainer {
    position: absolute;
    bottom: 0;
    left: 50px; }
    #description #buttoncontainer button:not(.copy-to-clipboard) {
      display: inline-block;
      width: 100px;
      margin-right: 10px;
      margin-bottom: 25px; }

.nav-left {
  position: fixed;
  padding-left: 50px; }
  .nav-left ul li {
    display: block;
    height: 30px;
    padding-bottom: 10px; }

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 50px;
  padding-bottom: 40px;
  display: flex; }
  header ul {
    flex: 1;
    display: flex; }
    header ul li {
      height: 30px;
      margin-right: 25px;
      cursor: pointer;
      list-style: none; }
      header ul li a {
        vertical-align: middle;
        display: inline-block; }
  header .right {
    flex: 1; }
  header #gh-link {
    height: 20px;
    margin-top: 10px;
    float: right; }
    header #gh-link img {
      height: 100%; }
  header button {
    float: right;
    margin-left: 25px;
    padding: 0px 20px; }
  header #emojisuche {
    flex: 1;
    justify-content: center;
    display: flex;
    height: 40px;
    position: relative; }
    header #emojisuche img {
      left: 0px;
      top: 6px;
      position: absolute;
      height: 70%;
      width: auto;
      padding-right: 10px;
      opacity: 0.4; }
    header #emojisuche input {
      background: none;
      padding: 15px;
      padding-left: 39px;
      border-radius: 20px;
      border: solid 1px #818080;
      font-size: 17px;
      color: #818080;
      transition: all 0.4s;
      width: 100%; }
      header #emojisuche input:focus {
        outline: none;
        color: #242424; }
      header #emojisuche input:focus + img {
        opacity: 1; }
  header .active-tab {
    border-bottom: 4px solid #E95A47; }
    header .active-tab a {
      color: #242424; }

footer {
  padding: 50px;
  padding-top: 100px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  bottom: 0; }
  footer p {
    display: inline-block; }
  footer ul {
    position: absolute;
    right: 50px;
    bottom: 50px; }
    footer ul li {
      width: 20px;
      height: 20px;
      display: inline-block;
      padding-left: 10px; }

#about-wrapper h1 {
  color: #EEB41A; }

#about-wrapper button {
  background-color: #EEB41A; }

#about-wrapper .active-tab {
  border-color: #EEB41A; }

#about-wrapper #about-content {
  margin-left: 400px; }
  #about-wrapper #about-content .descriptive-text {
    padding-bottom: 100px; }
  #about-wrapper #about-content #team-container {
    max-width: 1000px;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap; }
    #about-wrapper #about-content #team-container .teammember {
      width: 150px;
      position: relative;
      padding-right: 100px;
      padding-bottom: 100px; }
      #about-wrapper #about-content #team-container .teammember p {
        color: #242424; }
      #about-wrapper #about-content #team-container .teammember div {
        margin: auto;
        padding-bottom: 10px; }
        #about-wrapper #about-content #team-container .teammember div img {
          width: 100%; }
      #about-wrapper #about-content #team-container .teammember ul {
        padding-top: 25px; }
        #about-wrapper #about-content #team-container .teammember ul li {
          width: 20px;
          height: 20px;
          display: inline-block;
          padding-right: 10px; }

#styleguide-wrapper h1 {
  color: #E27022; }

#styleguide-wrapper button {
  background-color: #E27022; }

#styleguide-wrapper .active-tab {
  border-color: #E27022; }

#styleguide-wrapper .intro {
  max-width: 600px;
  margin-bottom: 50px; }

#styleguide-wrapper img {
  width: 100%; }

#styleguide-wrapper .img-full {
  width: 100%; }

#styleguide-wrapper .two-rows {
  padding-bottom: 100px; }
  #styleguide-wrapper .two-rows p, #styleguide-wrapper .two-rows h3 {
    float: left;
    width: 25%; }
  #styleguide-wrapper .two-rows .img-small {
    width: 20%;
    float: left;
    margin-left: 5%; }
  #styleguide-wrapper .two-rows .img-big {
    width: 70%;
    float: left;
    margin-left: 5%; }

#styleguide-wrapper .border {
  padding: 25px;
  border: solid 1px #F2F1F0;
  border-radius: 5px;
  box-sizing: border-box; }

#styleguide-content {
  max-width: 1000px;
  margin-left: 400px; }
  #styleguide-content h1 {
    margin-bottom: 25px; }
  #styleguide-content h2 {
    margin-top: 25px; }

body {
  position: relative; }

.library-wrapper {
  position: relative; }
  .library-wrapper h1 {
    color: #E95A47; }
  .library-wrapper .active-tab {
    border-color: #E95A47; }

#library-content {
  max-width: 1000px;
  margin-left: 400px;
  position: relative; }
  #library-content h2 {
    margin-bottom: 50px; }

.emoji_grid .emoji_single {
  float: left;
  margin-right: 100px;
  margin-bottom: 50px;
  width: 150px;
  transition: all 0.3; }
  .emoji_grid .emoji_single h3 {
    transition: all 0.3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-bottom: 2px; }
  .emoji_grid .emoji_single p {
    font-size: 14px;
    text-align: center; }
  .emoji_grid .emoji_single .emoji-container {
    width: 80%;
    margin: auto;
    margin-bottom: 10px; }
    .emoji_grid .emoji_single .emoji-container img {
      width: 100%;
      height: auto; }
  .emoji_grid .emoji_single:hover h3 {
    color: #E95A47; }

.nav-left #show-color {
  margin-bottom: 25px; }

.switch {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 17px;
  margin-left: 10px;
  vertical-align: middle; }
  .switch input {
    display: none; }
    .switch input:checked + .slider {
      background-color: #E95A47; }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #E95A47; }
    .switch input:checked + .slider:before {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px); }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #818080;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px; }
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; }

#home-wrapper {
  min-height: 100vh;
  background-color: #F2F1F0; }
  #home-wrapper h1 {
    color: #5EB0CF; }
  #home-wrapper button {
    background-color: #5EB0CF; }
  #home-wrapper .active-tab {
    border-color: #5EB0CF; }
  #home-wrapper header {
    background-color: #F2F1F0; }
