---
import { Markdown } from 'astro/components';
---
<div>
    <style lang="scss" global>
        @use 'src/shared-styles/_variables.scss';
        .layoutContainer{
            display: flex;
            margin-bottom: 10px;

            @media screen and (max-width: variables.$breakpoint-sm) {
                flex-direction: column-reverse;
            }
        }

        .layoutContainer .columnLeft{
            padding-right: 10px;
            flex: 1;
        }

        .layoutContainer .columnRight{
            flex: 2;
        }
    </style>

    <div class="layoutContainer">
        <slot />
    </div>
</div>
