<div>
	<style lang="scss">
	  @use './_getEmojiDropdown.scss';
	</style>
	<div class="dropdown">
		<button>
		  <div>Get OpenMojis</div>
		  <div><i class="arrow down"></i></div>
		</button>
		<div class="dropdown-content">
		  <div class="list-wrapper">
		    <ul>
		      <li>
		        <a
		          rel="noopener"
		          href="https://github.com/hfg-gmuend/openmoji/releases/latest/download/openmoji-svg-color.zip"
		          download
		          >SVG Color</a
		        >
		      </li>
		      <li>
		        <a
		          rel="noopener"
		          href="https://github.com/hfg-gmuend/openmoji/releases/latest/download/openmoji-svg-black.zip"
		          download
		          >SVG Black</a
		        >
		      </li>

		      <li>
		        <a
		          rel="noopener"
		          href="https://github.com/hfg-gmuend/openmoji/releases/latest/download/openmoji-72x72-color.zip"
		          download
		          >PNG Color 72×72</a
		        >
		      </li>
		      <li>
		        <a
		          rel="noopener"
		          href="https://github.com/hfg-gmuend/openmoji/releases/latest/download/openmoji-72x72-black.zip"
		          download
		          >PNG Black 72×72</a
		        >
		      </li>

		      <li>
		        <a
		          rel="noopener"
		          href="https://github.com/hfg-gmuend/openmoji/releases/latest/download/openmoji-618x618-color.zip"
		          download
		          >PNG Color 618×618</a
		        >
		      </li>
		      <li>
		        <a
		          rel="noopener"
		          href="https://github.com/hfg-gmuend/openmoji/releases/latest/download/openmoji-618x618-black.zip"
		          download
		          >PNG Black 618×618</a
		        >
		      </li>
		    </ul>
		    <ul>
		      <li>
		        <a
		          rel="noopener"
		          href="../php/download_asset.php?type=url&target_url=https://raw.githubusercontent.com/hfg-gmuend/openmoji/master/font/OpenMoji-Black.ttf"
		          target="_blank"
		          download
		          >OpenMoji-Black.ttf</a
		        >
		        <div class="disclaimer">
		          proof of concept version,<br />some glyphs are broken,<br />not
		          intended for production use!
		        </div>
		      </li>
		      <li>
		        <a
		          rel="noopener"
		          href="../php/download_asset.php?type=url&target_url=https://raw.githubusercontent.com/hfg-gmuend/openmoji/master/font/OpenMoji-Color.ttf"
		          target="_blank"
		          download
		          >OpenMoji-Color.ttf</a
		        >
		        <div class="disclaimer">
		          beta version,<br />works in Firefox / Edge / Adobe CC,<br />see
		          <a
		            href="https://github.com/hfg-gmuend/openmoji/issues/93"
		            target="_blank"
		            rel="noopener"
		            >discussion</a
		          >,<br />not intended for production use!
		        </div>
		      </li>

		      <li>
		        <a
		          rel="noopener"
		          href="https://itunes.apple.com/us/app/openmoji/id1462636288"
		          target="_blank"
		          >OpenMoji App</a
		        >
		        <div class="disclaimer">for iOS</div>
		      </li>

		      <li>
		        <a
		          rel="noopener"
		          href="https://www.github.com/hfg-gmuend/openmoji/releases/latest"
		          target="_blank"
		          >Download Source</a
		        >
		      </li>
		    </ul>
		  </div>
		</div>
	</div>
</div>