---
import authors from './team.json';
import Author from './Author.astro';
---
<div>
  <style lang="scss">
    @use './_team.scss';
  </style>
  <div class="container">
    {authors.map((author) => (
      <Author data={author}/>
    ))}
  </div>
</div>