@use 'src/shared-styles/_variables.scss';

.markdownContent.yellow h1,
.markdownContent.yellow p a,
.markdownContent.yellow ul a {
    color: variables.$color-yellow-light;
}

.markdownContent.orange h1,
.markdownContent.orange p a,
.markdownContent.orange ul a {
    color: variables.$color-orange-light;
}

.markdownContent.narrow p{
  color: variables.$color-grey-dark;
  max-width: 500px;
  margin-bottom: variables.$gap-small;
}

.markdownContent {
  // @extend %content;

  @media screen and (max-width: variables.$breakpoint-md) {
    padding: 0 variables.$gap-med 0 variables.$gap-med;
  }

  @media screen and (max-width: variables.$breakpoint-sm) {
    padding: 0 variables.$gap-small 0 variables.$gap-small;
  }

  ul {
    padding-left: variables.$gap-reg;

    li {
      list-style-type: disc;
    }
  }

  h1 {
    font-size: variables.$font-sz-xl;
    font-weight: variables.$font-reg;
    margin-bottom: variables.$gap-reg;

    @media screen and (max-width: variables.$breakpoint-md) {
      font-size: variables.$font-sz-xl;
    }
  }

  h2{
    font-size: variables.$font-sz-lg;
    font-weight: variables.$font-bold;
    margin-top: variables.$gap-med;
  }

  h3{
    font-size: variables.$font-sz-lg;
    margin-top: variables.$gap-med;
  }

  h4, h5{
    font-size: variables.$font-sz-md;
    font-weight: variables.$font-bold;
    margin-top: variables.$gap-reg;
  }

  img, video{
    display: block;
    // margin-top: variables.$gap-med;
    margin-bottom: variables.$gap-xs;
    min-width: 30%;
    max-width: 60%;
  }
}