---
import helpers from '../../../util/helpers'
const numberOfEmojis = helpers.getNumberOfEmojis();
const numberOfFlags = helpers.getNumberOfFlags();
---
<div class="wrapper">
  <style lang="scss">
    @use './_smallOverview.scss';
  </style>
  <div class="content-wrapper">
    <div class="content">
      <h1>
        <span style="color:#5EB0CF">OpenMoji</span> is an open source project of 60+ students and 3 professors of the HfG Schwäbisch Gmünd and 20+ external contributors
      </h1>
      <div class="content-item">
        <img alt="Free to use" src="data/color/svg/1F64F.svg">
        <div class="description">
          <h3>Free to use</h3>
          <p>All emojis are free to use under the CC BY-SA 4.0 license</p>
        </div>
      </div>
      <div class="content-item">
        <img alt="3150+ Emojis" src="data/color/svg/1F3C6.svg">
        <div class="description">
          <h3>{numberOfEmojis} Emojis</h3>
          <p>So far more than three thousand emojis over many categories have been designed</p>
        </div>
      </div>
      <div class="content-item">
        <img alt="Emoji Version" src="data/color/svg/2705.svg">
        <div class="description">
          <h3>Emoji v13.1</h3>
          <p>OpenMoji carefully supports the Unicode Emoji standard</p>
        </div>
      </div>
      <div class="content-item">
        <img alt="Consistent" src="data/color/svg/26D3.svg">
        <div class="description">
          <h3>Consistent</h3>
          <p>All emojis follow a single style guide and fit perfectly together</p>
        </div>
      </div>
      <div class="content-item">
        <img alt="Colored/Outlined" src="data/color/svg/1F58C.svg">
        <div class="description">
          <h3>Colored/Outlined</h3>
          <p>Supporting a wide range of use cases with colored and outlined emojis</p>
        </div>
      </div>
      <div class="content-item">
        <img alt="Skintones" src="data/color/svg/1F9D1-1F3FE-200D-1F91D-200D-1F9D1-1F3FB.svg">
        <div class="description">
          <h3>Skintones</h3>
          <p>OpenMoji supports the Fitzpatrick skin tones scale and multiple skin tone combinations</p>
        </div>
      </div>
      <div class="content-item">
        <img alt={numberOfFlags + ' flags'} src="data/color/svg/1F3F3-FE0F-200D-1F308.svg">
        <div class="description">
          <h3>{numberOfFlags} Flags</h3>
          <p>From Andorra to Zimbabwe to Pirates</p>
        </div>
      </div>
      <div class="content-item">
        <img alt="Special Interest Categories" src="data/color/svg/E188.svg">
        <div class="description">
          <h3>Special Interest Categories</h3>
          <p>OpenMoji ships with various special interest categories beyond standard unicode</p>
        </div>
      </div>
      <div class="content-item">
        <img alt="Handcrafted" src="data/color/svg/1F6E0.svg">
        <div class="description">
          <h3>Handcrafted</h3>
          <p>All emojis have been carefully designed, tested and reviewed over many iterations</p>
        </div>
      </div>
    </div>
  </div>
</div>