@use '_variables.scss';

@mixin button{
  cursor: pointer;
  padding: 0 variables.$gap-small;
  margin: 0;
  font-size: variables.$font-sz-md;
  font-family: inherit;
  color: variables.$color-white;
  background: variables.$color-blue-dark;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(232, 232, 232, 0.5);
  min-height: 40px;
  border-radius: 20px;
  min-width: 80px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  text-align: center;

  span{
    display: inline-block;
    margin: auto;
  }
}

@mixin content{
  max-width: variables.$content-max-width;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}