---
import MetaHead from '../components/shared/MetaHead.astro';
import Header from '../components/shared/Header/Header.astro';
import Footer from '../components/shared/Footer/Footer.astro';
import MetaJavascript from '../components/shared/MetaJavascript.astro';

import Hero from '../components/index/Hero/Hero.astro';
import SmallOverview from '../components/index/SmallOverview/SmallOverview.astro';
import EmojiVideo from '../components/index/EmojiVideo/EmojiVideo.astro';
import CategoriesShowcase from '../components/index/CategoriesShowcase/CategoriesShowcase.astro';
import ContributeFooter from '../components/index/ContributeFooter/ContributeFooter.astro';
---

<html lang="en">
    <MetaHead title="OpenMoji" titleOG="OpenMoji"/>
    <body>
        <Header theme="home"/>
        <main>
            <Hero/>
            <SmallOverview/>
            <EmojiVideo/>
            <CategoriesShowcase/>
            <ContributeFooter/>
        </main>
        <Footer color="blue"/>
    </body>
    <MetaJavascript/>
</html>
