---
import Header from '@/components/shared/Header/Header.astro';
import Footer from '@/components/shared/Footer/Footer.astro';
import JavascriptLibraries from '@/components/shared/JavascriptLibraries.astro';
import MetaHeadContent from '@/components/shared/MetaHeadContent.astro';

import Hero from '@/components/index/Hero/Hero.astro';
import SmallOverview from '@/components/index/SmallOverview/SmallOverview.astro';
import EmojiVideo from '@/components/index/EmojiVideo/EmojiVideo.astro';
import CategoriesShowcase from '@/components/index/CategoriesShowcase/CategoriesShowcase.astro';
import ContributeFooter from '@/components/index/ContributeFooter/ContributeFooter.astro';
---

<html lang="en">
    <head>
        <MetaHeadContent title="OpenMoji" titleOG="OpenMoji"/>
    </head>
    <body>
        <Header theme="home" hideSearch={true}/>
        <main>
            <Hero/>
            <SmallOverview/>
            <EmojiVideo/>
            <CategoriesShowcase/>
            <ContributeFooter/>
        </main>
        <Footer color="blue"/>
    </body>
    <JavascriptLibraries/>
</html>