@use 'src/shared-styles/_variables.scss';
@use 'src/shared-styles/_mixins.scss';
@include mixins.emoji-search;

.emoji-search {
  max-width: 400px;
  height: 60px;

  img {
    left: 0;
    top: 12px;
    position: absolute;
    height: 60%;
    width: auto;
    padding-right: variables.$gap-small;
    opacity: 0.4;

    @media screen and (max-width: variables.$breakpoint-sm) {
      height: 40%;
      top: 18px;
      left: 8px;
    }
  }

  input {
    font-size: 23px;
    background-color: variables.$background-color-grey;
    padding-left: 55px;
    border: none;

    @media screen and (max-width: variables.$breakpoint-sm) {
      font-size: variables.$font-sz-md;
    }
  }
}

.resultsWrapperWrapper{
  position: absolute;
  z-index: 999999;
  bottom: 0;
  left: 0;
  width: 100%;
}

.resultsWrapper{
  position: absolute;
  top: 0;
  left: 0;
  padding: variables.$gap-xs;
  border-radius: 4px;
  background: white;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(232, 232, 232, 0.5);
  box-sizing: border-box;
}