---
import MetaHeadContent from '@/components/shared/MetaHeadContent.astro';
import JavascriptLibraries from '@/components/shared/JavascriptLibraries.astro';
import Header from '@/components/shared/Header/Header.astro';
import Footer from '@/components/shared/Footer/Footer.astro';
import EmojiNavigation from '@/components/library/EmojiNavigation/EmojiNavigation.astro';
import EmojiGrid from '@/components/library/EmojiGrid/EmojiGrid.astro';
---

<html lang="en">
    <head>
        <MetaHeadContent title="Library · OpenMoji" titleOG="Library"/>
    </head>
    <body>
        <Header color="red"/>
        <main style="display: flex;">
            <EmojiNavigation/>
            <EmojiGrid/>
        </main>
    </body>
    <JavascriptLibraries/>
    <script type="text/javascript">
        new LazyLoad();
    </script>
    <script src="/js-code/library-navigation.js"/>
</html>
