---
import MetaHeadContent from '@/components/shared/MetaHeadContent.astro';
import JavascriptGlobalVariables from '@/components/shared/JavascriptGlobalVariables.astro';
import Header from '@/components/shared/Header/Header.astro';
import Footer from '@/components/shared/Footer/Footer.astro';
import EmojiNavigation from '@/components/library/EmojiNavigation/EmojiNavigation.astro';
import EmojiGrid from '@/components/library/EmojiGrid/EmojiGrid.astro';
console.log('Rendering library index.astro');
---

<html lang="en">
    <head>
        <MetaHeadContent title="Library · OpenMoji" titleOG="Library"/>
        <JavascriptGlobalVariables/>
    </head>
    <body>
        <Header color="red" showSearch={true}/>
        <main class="relative">
            <EmojiNavigation/>
            <EmojiGrid/>
        </main>
    </body>
    <script rel="script" src="/js-libraries/lazyload.min.js"></script>
    <script type="text/javascript">
        new LazyLoad({
            elements_selector: '.lazyload'
        });
    </script>
    <script src="/js-code/library-navigation.js"/>
</html>
