---
import MetaHead from '../../components/shared/MetaHead.astro';
import Header from '../../components/shared/Header/Header.astro';
import Footer from '../../components/shared/Footer/Footer.astro';
---

<html lang="en">
    <MetaHead title="Library · OpenMoji" titleOG="Library"/>
    <body>
        <Header/>
        <main>
            Not yet started
        </main>
    </body>
</html>
