@use 'src/shared-styles/_variables.scss';

.wrapper {
	background-color: variables.$color-blue-dark;

	.content-wrapper {
	  min-height: 0;
	  padding-top: variables.$gap-xs;
	}

	#interest {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  padding: variables.$gap-med 0;

	  h1 {
	    color: variables.$color-white;
	    margin-bottom: variables.$gap-reg;
	    font-size: variables.$font-sz-lg;

	    @media screen and (max-width: variables.$breakpoint-md) {
	      font-size: variables.$font-sz-lg;
	    }
	  }

	  .buttongroup {
	    display: inline-flex;
	    flex-wrap: nowrap;
	    justify-content: space-around;
	    width: 54%;
	    align-items: center;
	    margin-bottom: variables.$gap-reg;

	    .defaultButton {
	      &:first-child {
	        margin-right: variables.$gap-reg;
	      }
	    }

	    @media screen and (max-width: variables.$breakpoint-md) {
	      flex-wrap: wrap;

	      .defaultButton {
	        &:first-child {
	        	margin-bottom: variables.$gap-reg;
	        	margin-right: 0;
	        }
	      }
	    }

	    h1 {
	      color: variables.$color-white;
	      margin-bottom: variables.$gap-reg;

	      @media screen and (max-width: variables.$breakpoint-md) {
	        font-size: variables.$font-sz-md;
	      }
	    }
	  }
	}
}