<div class="wrapper">
  <style lang="scss">
    @use '_contributeFooter.scss';
  </style>
  <div class="content-wrapper">
    <div id="interest">
      <h1 class="visuallyHeadline1">Interested?</h1>
      <div class="buttongroup">
        <a href="./styleguide" class="defaultButton large light">
            <img alt="Participate & Contribute" class="big-emoji-right" src="data/color/svg/1F449.svg"/>Participate & Contribute
        </a>
        <a href="./library" class="defaultButton large light">
          <img alt="Explore Collection" class="big-emoji-right" src="data/color/svg/1F449.svg"/>
          Explore Collection
        </a>
      </div>
      <h1 class="visuallyHeadline1">Or try OpenMoji on your phone</h1>
      <a rel="noopener" href="https://itunes.apple.com/us/app/openmoji/id1462636288"><img alt="Apple App Store"
          src="https://developer.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg"></a>
    </div>
  </div>
</div>