@use 'src/shared-styles/_variables.scss';

.markdownContent{
	h1 {
		font-size: variables.$font-sz-xl;
		font-weight: variables.$font-reg;

		@media screen and (min-width: variables.$breakpoint-md) {
		    font-size: variables.$font-sz-xl;
		  }
	}

	h2{
		font-size: variables.$font-sz-lg;
		font-weight: variables.$font-bold;
		margin-top: variables.$gap-med;
		margin-bottom: variables.$gap-xs;
	}

	h3{
		font-size: variables.$font-sz-lg;
		font-weight: normal;
		margin-top: variables.$gap-med;
	}

	h4, h5{
		font-size: variables.$font-sz-md;
		font-weight: variables.$font-bold;
		margin-top: variables.$gap-reg;
	}

	padding-left: variables.$gap-xs;
	padding-right: variables.$gap-xs;

	video{
		max-width: 100%;
	}

	a{
		text-decoration: underline;
	}

	img{
		max-width: 100%;
	}

	ul, ol, p{
		margin-top: variables.$gap-xs;
	}

	ul {
	    li {
	      list-style-type: disc;
	      margin-left: variables.$gap-small;
	    }
	}

	ol {
	    li {
	      list-style-type: decimal;
	      margin-left: variables.$gap-small;
	    }
	}

	summary{
		padding: 6px 14px 8px 14px;
		border-radius: 3px;
		cursor: pointer;
	}

	summary:hover{
		background-color: variables.$color-grey-ultra-light;
	}

	details p, details ul, details ol, details img{
		padding: 0 20px;
	}

	details :last-child{
		margin-bottom: variables.$gap-small;
	}

	
}