---
import MetaHead from '../../components/shared/MetaHead.astro';
import Header from '../../components/shared/Header/Header.astro';
import Footer from '../../components/shared/Footer/Footer.astro';

const {content} = Astro.props;
const title = (content.title || '') + ' · OpenMoji';
const {onlyAllowHeadlines} = Astro.props || false;
---
<html lang="en">
  <MetaHead title={title}/>
  <body>
    <Header/>
    <main class="markdownContent">
      <style lang="scss"> @use './_baseLayout.scss'; </style>
      <style lang="scss" global> @use './_baseLayoutMarkdown.scss'; </style>
      <slot />
    </main>
    <Footer/>
  </body>
</html>